$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1025px;

$font-body: roboto, sans-serif;
$font-heading: roboto, sans-serif;
$font-baseline: 16px;

$item-spacing: 15px;

$primary: #5d5c61;
$primary-offset: #379683;
$secondary: #557a95;
$secondary-offset: #7395ae;
