.footer {
  background-color: $light-gray;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  margin-bottom: -40px;
  position: absolute;
  width: 100%;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
