a {
  color: $secondary;
  cursor: pointer;
  text-decoration: none;

  &:active {
    outline: none;
  }

  &:active,
  &:focus {
    color: $secondary-offset;
    text-decoration: underline;
  }

  &:hover {
    color: darken($secondary, 10%);
    text-decoration: underline;
  }
}
